@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --grey-900: #262e38;
  --grey-950: #131518;
  --grey-500: #969fad;
  --orange-500: #fc7614;
  --gradient-1: radial-gradient(#232a34, #181e27);

  --spacing-base: 8px;
  --spacing-200: calc(var(--spacing-base) * 2);
  --spacing-300: calc(var(--spacing-base) * 3);
  --spacing-400: calc(var(--spacing-base) * 4);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--grey-950);
  padding: var(--spacing-300);
  min-height: 100dvh;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Overpass', sans-serif;
}

/* Typography Presets */
.text-preset-1,
.text-preset-2,
.text-preset-3,
.text-preset-4-bold,
.text-preset-5-bold {
  font-weight: 700;
}

.text-preset-1 {
  font-size: 28px;
  line-height: 35px;
}
.text-preset-2 {
  font-size: 24px;
  line-height: 30px;
}
.text-preset-3 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.text-preset-4-bold {
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 2px;
}
.text-preset-4-regular {
  font-size: 15px;
  line-height: 24px;
}

.text-preset-5-bold {
  font-size: 14px;
  line-height: 18px;
}
.text-preset-5-semibold {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}
.text-preset-5-regular {
  font-size: 14px;
  line-height: 22px;
}

/* Utilities */
.sr-only {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.is-hidden {
  display: none;
}

fieldset {
  border: none;
}

/* Components */
.card {
  border-radius: 30px;
  background: var(--gradient-1);
  padding: 28.5px 24px;
  max-width: 412px;

  @media (width >= 768px) {
    padding: 35px 30px;
  }
}

.card__picture {
  display: grid;
  place-items: center;
  margin-bottom: var(--spacing-400);
  border-radius: 50%;
  background-color: var(--grey-900);
  width: 48px;
  height: 48px;
}

.card__title,
.card__description {
  margin-bottom: var(--spacing-200);
}

.card__title {
  color: var(--white);
}

.card__description {
  color: var(--grey-500);
}

.card__rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-200);
  margin-bottom: var(--spacing-400);
  list-style: none;

  @media (width >= 768px) {
    gap: var(--spacing-300);
  }
}

.rating__item {
  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  label {
    display: grid;
    place-items: center;
    transition: all 0.25s ease;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--grey-900);
    width: 42px;
    height: 42px;
    color: var(--white);

    @media (width >= 768px) {
      width: 51px;
      height: 51px;
    }
  }

  input:checked + label {
    background-color: var(--white);
    color: var(--grey-900);
  }

  input:focus-visible + label {
    outline: 2px solid var(--orange-500);
    outline-offset: 2px;
  }

  label:hover {
    background-color: var(--orange-500);
    color: var(--white);
  }
}

.card__submit {
  transition: background-color 250ms linear;
  cursor: pointer;
  border: 0;
  border-radius: 22.5px;
  background-color: var(--orange-500);
  padding: 12.5px;
  width: 100%;
  color: var(--grey-950);
}

.card__submit:hover {
  background-color: var(--white);
}

.card__submit:focus-visible {
  outline: 2px solid var(--orange-500);
  outline-offset: 2px;
}

.card__photo {
  display: grid;
  place-items: center;
  margin-bottom: var(--spacing-400);

  img {
    width: 100%;
    max-width: 162px;
  }
}

.card__tag {
  display: flex;
  margin: 0 auto var(--spacing-400) auto;
  border-radius: 22.5px;
  background-color: var(--grey-900);
  padding: 6px 19.5px;
  width: fit-content;
  color: var(--orange-500);
}

.card--second {
  .card__title,
  .card__description {
    text-align: center;
  }

  .card__description {
    margin-bottom: 0;
  }
}
